<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1014948941775-fkk7mtaii09s964ptgbgsev58ubimc1u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1014948941775-fkk7mtaii09s964ptgbgsev58ubimc1u</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1014948941775-80m16h5feb02pb43bfd4vs011gpvervr.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDNw4Yth8WHTN9a5ikTDOsvMK05GT2-L4A</string>
	<key>GCM_SENDER_ID</key>
	<string>1014948941775</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jinwookkim.langpal</string>
	<key>PROJECT_ID</key>
	<string>langpal-4d0bc</string>
	<key>STORAGE_BUCKET</key>
	<string>langpal-4d0bc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1014948941775:ios:98f11e0ee28bf946364cba</string>
</dict>
</plist>